body {
    font-size: 130%;
    font-family: 'Indie Flower', cursive;
}

#bigphone { 
   
    color: #3273dc;
    text-shadow: 1px 1px 3px #000000;
    font-size: 175%;
    margin-top: -10px;
    margin-bottom: -31px;
  }

  #bigphonechat { 
   
    color: #3273dc;
    text-shadow: 1px 1px 3px #000000;
    font-size: 160%;
    margin-top: -10px;
    margin-bottom: -31px;
  }
 #chatclick {

    color:#3273dc;
 } 