body {
    font-size: 200%;
    font-family: 'Indie Flower', cursive;
    background-image: url("../img/deskbackground.jpg");
    background-size: cover;
  
}


#bigphone { 
   
    color: #3273dc;
    text-shadow: 1px 1px 3px #000000;
    font-size: 220%;
    margin-top: -10px;
    margin-bottom: -31px;
  }

  #bigphonechat { 
   
    color: #3273dc;
    text-shadow: 1px 1px 3px #000000;
    font-size: 160%;
    margin-top: -10px;
    margin-bottom: -31px;
  }
 #chatclick {

    color:#3273dc;
 } 