<!DOCTYPE html>
<html lang="fi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Chatti</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css">
    <link rel="stylesheet" href="/static/css/chatdesk.css">
    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>

    <div class="container">

        <div class="columns">

            <div class="column is-two-thirds">
                <div class="box has-background-light">

                    <article class="media">
                        <figure class="media-left">
                            <img src={{.Defaultphoto.Imgfilename}} alt="">
                        </figure>
                        <div class="media-content">
                            <div class="content">

                                <span class="icon is-large"><i
                                        class="fas fa-phone"></i></span><strong>{{.Defaultphoto.Name}}
                                    {{.Defaultphoto.Age}}v</strong>
                                <dev id="bigphonechat">{{.Defaultphoto.Phone}}</dev>
                                <br>
                                <strong>{{.Defaultphoto.City}}</strong>
                            </div>
                        </div>


                        <div class="media-right">
                            <a class="level-item" href="/">
                                <span class="icon is-large"><i class="fas fa-times-circle"></i></span>

                            </a>
                        </div>
                    </article>

                </div>
            </div>


            <div class="column">
                <div class="box has-background-light">
                    <div class="botui-app-container" id="my-botui-app">

                        <bot-ui></bot-ui>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        window.phone = {{.Defaultphoto.Phone}};
        window.nguid = {{.Nguid}};
        window.chaturl = {{.ChatUrl}};
        window.botPhoto = {{.Defaultphoto.Imgfilename}};
        window.defaultPhoto = {{.Defaultphoto}};
        window.mob = 0;
 
    </script>

    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://unpkg.com/botui/build/botui.min.js"></script>
    <script src="/static/js/bot.js"></script>
</body>

</html>