<!DOCTYPE html>
<html lang="fi">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="format-detection" content="telephone=yes" />
  <title>Chatti</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>

  <div class="container">

    <section class="section has-background-light">
      <article class="media">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src={{.Defaultphoto.Imgfilename}}>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">

            <span class="icon is-large"><i class="fas fa-phone"></i></span><strong>{{.Defaultphoto.Name}} {{.Defaultphoto.Age}}v</strong>
            <a href="tel:{{.Defaultphoto.Phone}}" id="bigphonechat">{{.Defaultphoto.Phone}}</a>
            <br>
            <strong>{{.Defaultphoto.City}}</strong>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
            </div>
          </nav>
        </div>
        <div class="media-right">
          <a class="level-item" href="/">
            <span class="icon is-medium"><i class="fas fa-lg fa-times-circle"></i></span>

          </a>
        </div>
      </article>
    </section>


    <div class="botui-app-container" id="my-botui-app">

      <bot-ui></bot-ui>

    </div>

  </div>

  <script>
        window.phone = {{.Defaultphoto.Phone}};
        window.nguid = {{.Nguid}};
        window.chaturl = {{.ChatUrl}};
        window.botPhoto = {{.Defaultphoto.Imgfilename}};
        window.defaultPhoto = {{.Defaultphoto}};
        window.mob = 1;
    
 
  </script>

  <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
  <script src="https://unpkg.com/botui/build/botui.min.js"></script>
  <script src="/static/js/bot.js"></script>
</body>

</html>