<!DOCTYPE html>
<html lang="en">
<html lang="fi">

<head>
    <title>chatux example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/maindesk.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

    <nav class="level">
        <div class="level-left">
            <div class="container">

                {{range .Allphotos}}
                <div class="box has-background-light">

                    <article class="media" onclick="clickFunction('/chat/{{.Id}}')">

                        <figure class="media-left">

                            <img src={{.Imgfilename}} alt="">


                        </figure>

                        <div class="media-content">
                            <div class="content">

                                <span class="icon is-large"><i class="fas fa-phone"></i></span><strong>{{.Name}}
                                    {{.Age}}v</strong>
                                <div id='bigphone'> {{.Phone}}</div>
                                <br>
                                <strong>{{.City}}</strong>

                            </div>
                        </div>
                        <div class="media-right">
                            <div class="level-item" id="chatclick">
                                <span class="icon is-medium"><i class="fas fa-lg fa-reply "></i></span><br>
                                <br>Chatti
                            </div>
                        </div>
                    </article>
                </div>

                {{end}}

            </div>
        </div>

    </nav>

    <script>
        window.phone = {{.Defaultphoto.Phone}};
        window.nguid = {{.Nguid}};
        window.chaturl = {{.ChatUrl}};
        window.botPhoto = {{.Defaultphoto.Imgfilename}};
        window.defaultPhoto = {{.Defaultphoto}};
        window.mob = 0;

    </script>

    <!-- <script src="https://riversun.github.io/chatux/chatux.min.js"></script> -->
    <script src="/static/js/chatux.js"></script>
    <script src="/static/js/sidebot.js"></script>

</body>

</html>