<!DOCTYPE html>
<html lang="fi">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=yes"/>
    <title>Main</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css">
    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body>

    <div class="container" id="my-botui-app">

            {{range .Allphotos}}
            <div class="box has-background-light">
            <!-- <a href="/chat/{{.Id}}"> -->
            <article class="media" onclick="clickFunction('/chat/{{.Id}}')">
                    
                    <figure class="media-left">
                           
                      <p class="image is-64x64">
                           
                        <img src={{.Imgfilename}}>
                    
                      </p>
    
                
                    </figure>
                    
                    <div class="media-content">
                      <div class="content">
   
                          <span class="icon is-large"><i class="fas fa-phone"></i></span><strong>{{.Name}} {{.Age}}v</strong> <a href="tel:{{.Phone}}" id="bigphone">{{.Phone}}</a>
                          <br>
                          <strong>{{.City}}</strong>
                      
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
 
                        </div>
                      </nav>
                    </div>
                    <div class="media-right">
                        <div class="level-item" id="chatclick">
                          <span class="icon is-medium"><i class="fas fa-lg fa-reply "></i></span><br>
                          <br>Chatti
                        </div>
                      </div> 
                  </article>
            </div>
            
            {{end}}

    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>